.example-form {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.cards {
  margin-bottom: 24px;
  max-width: 400px;
}
.search-btn {
  margin-bottom: 12px;
}

h1,p, span {
  font-family: 'IBM Plex Sans', "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 36px;
  font-weight: 500;
}
mat-card-subtitle {
  display: flex;
  align-items: center;
}
mat-icon {
  margin-bottom: 2px;
}
