<h1>Physiotherapists</h1>
<p>Find your ideal physiotherapist</p>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Physiotherapist</mat-label>
    <input type="search" matInput placeholder="Diego Cruz">
    <mat-icon color="primary" matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" class="search-btn"><span>Search</span></button>
</form>
<mat-divider></mat-divider>

<div class="cards" *ngFor="let physiotherapist of physiotherapists">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title><span>{{ physiotherapist.first_name + ' ' + physiotherapist.paternal_surname }}</span></mat-card-title>
      <mat-card-subtitle><span>{{'Medical Consultancies: '+ physiotherapist.consultations_quantity}}</span></mat-card-subtitle>
      <mat-card-subtitle><mat-icon>star</mat-icon> <span>{{physiotherapist.rating}}</span></mat-card-subtitle>
      <img mat-card-md-image src="{{ physiotherapist.photo}}" alt="{{ physiotherapist.first_name + ' ' + physiotherapist.paternal_surname }}">
    </mat-card-title-group>
    <mat-card-content>
      <button mat-raised-button color="primary" class="viewProfile-btn" [routerLink]="['/professional-profile',physiotherapist.id]"><span>View Profile</span></button>
    </mat-card-content>
  </mat-card>
</div>
