

  <h1>Your Treatments</h1>

  <button class="btn-new-treatment" mat-raised-button color="primary" [routerLink]="['/new-treatment']">New Treatment</button>



<div class="card-treatments" *ngFor="let treatment of treatments">
  <mat-card>
    <mat-card-header>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>play_circle</mat-icon>
    </button>
      <span class="example-spacer"></span>
      <mat-card-title>{{treatment.title}}</mat-card-title>
      <mat-card-subtitle>{{treatment.description}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
