<div class="page">
  <div class="sidenav">
    <div *ngIf="userType===types[0]; else elseTemplate">
    <app-sidenav></app-sidenav>
    </div>
    <ng-template #elseTemplate>
      <app-physiotherapist-sidenav></app-physiotherapist-sidenav>
    </ng-template>
  </div>
  <div class="contents">
    <app-header></app-header>
    <div><h1>Treatments</h1>
      <div *ngIf="userType===types[0]; else elseTemplate2">
      <p>Start with the treatment you need</p>
      </div>
      <ng-template #elseTemplate2>
        <p>Find treatments uploaded by other professionals</p>
      </ng-template>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Treatment</mat-label>
          <input type="search" #inputSearch matInput  placeholder="Lumbar Spine" (keyup.enter)="getTreatmentByQuery(inputSearch.value)">
          <mat-icon color="primary" matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="search-btn" (click)="getTreatmentByQuery(inputSearch.value)"><span>Search</span></button>
      </form>

      <mat-divider></mat-divider>

      <div class="cards" *ngFor="let treatment of treatments">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title><span>{{ treatment.title }}</span></mat-card-title>
            <mat-card-subtitle><span>{{'Sessions Quantity: '+treatment.sessionsQuantity}}</span></mat-card-subtitle>
            <img mat-card-md-image src="{{treatment.photoUrl}}" alt="{{ treatment.title }}">
          </mat-card-title-group>
          <mat-card-content>
            <button mat-raised-button color="primary" class="info-btn" [routerLink]="['/treatments-info', treatment.id]"><span>Info</span></button>
          </mat-card-content>
        </mat-card>
      </div></div>
  </div>
</div>




